a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
  a:active {
    background-color: transparent;
  }
  .dropdown-item:active{
    background-color: white;
  }
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  
  